.navbar__logo {
    width : 100px;
    /* height: 20px; */
     object-fit: contain; 
    margin-left: -18px;
    margin-top: 0px;
}

.header__link{
    color: white;
    text-decoration: none;
}

.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 10px;
}

.header__optionLogin{
    display: flex;
    flex-direction: column;
    margin-left: 22px;
    margin-right: 15px;
}


.header__optionLineOne{
    font-size: 20px;
    font-weight: bold;
    /* border: 2px solid white; */
    border-radius: 3px;
    padding: 1em;
    object-fit: contained;
    
    height: 10px;
    text-align: center; 
    font-Family: Lato;
    width: 100%;
    line-height: 19px;
}

.header__optionLineTwo{
    font-size: 20px;
    font-weight: bold;
    /* border: 2px solid white; */
    border-radius: 3px;
    padding: 1em;
    object-fit: contained;
    
    height: 10px;
    text-align: center; 
    font-Family: Lato;
    width: 100%;
    line-height: 19px;
}

.header__optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}

.header__optionBasket{
    display: flex;
    align-items: center
}
  
    